.peter{color: rgb(154, 216, 31);}
body{font-family: 'Poppins', sans-serif;}
h1{font-size: 60px;}
section{display: flex;}
.half-width{width: 50%;
    padding-left: 5%;
}
.half-width img{width: 80%;
padding-top: 6%;}
.link-button{
    text-decoration: none;
   background-image: linear-gradient(orange ,tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: rgb(117, 16, 16);
    font-weight: 700px;
color: white;
}
.top-banner-button{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
body{
    margin:0px ;
}

